{% extends "layouts/error.twig" %}
{% block content %}

    <h2>Document not found</h2>
    <p>Sorry, but the page you are looking for was not found.</p>
    <p><small class="text-muted">Looked for {{ documentPath }}</small></p>

{% endblock %}